streamlit>=1.28.0
streamlit-option-menu
streamlit-lottie
streamlit-extras
streamlit-custom-notification-box
python-docx
pandas
plotly
pillow
pycryptodome
python-dotenv
pdfminer.six
nltk
scikit-learn
sqlalchemy
openpyxl
requests
spacy
pypdf
selenium>=4.10.0
numpy
webdriver-manager>=4.0.0
chromedriver-autoinstaller
google-generativeai
pdf2image
pytesseract
pdfplumber
reportlab
docx2txt
python-pptx
matplotlib
seaborn
pypdf2
